.cabecalho {
    background-color: pink;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: white;
    color: azure;
    padding: 100px;
}

.section2 {
    background-color: white;
    color: azure;
    padding: 100px
}

.cabecalho-imagem {
    width: 20%;
}
.rodape"{
    background-color
}